.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

/* Define the grid items */
.grid-item {
  background-color: #fffbfb;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* Define styles for the H1 and P tags */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}