.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* set grid columns to 2 */
    grid-gap: 2rem;
  }
  
  .project {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    /* adjust layout for smaller screens */
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }