/* Default styles for all screen sizes */

.page {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  margin-top: 50px;
  height: 50vh;
  width: 60%; /* modified */

  text-align: center;
}

.name-container h1 {
  font-size: 4rem;
}

.description-container p {
  font-size: 2rem;
}

.icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: #000;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  color: #470bec;
}

.image-container {
  margin-top: 50px;
  height: 50vh;
  width: 39%; /* modified */
}

.image-container img{
  width: 50%;
  margin-top: 20px;
}

/* Media query for screens smaller than 600px wide */

@media (max-width: 600px) {
  .main {
    width: 90%;
  }

  .name-container h1 {
    font-size: 3rem;
  }

  .description-container p {
    font-size: 1.5rem;
  }

  .icon {
    font-size: 2rem;
  }

  .image-container{
    width: 50%;
    margin-top: 20px;
  }

  .image-container img{
    width: 50%;
    margin-top: 20px;
  }


}
