.single-projects-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(10, 6, 255);
  pointer-events: stroke;
}


.screenshot {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.screenshot img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.screenshot img:hover {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}


.project-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.text {
  margin-bottom: 1rem;
}

.project-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-GitHub {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #000;
  transition: all 0.1s ease-in-out;
}

.icon-GitHub:hover {
  color: #470bec;
}

.icon-Youtube{
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #000;
  transition: all 0.1s ease-in-out;
}

.icon-Youtube:hover{
  color: #df1414;
}

.single-projects-grid {
  display: grid; /* change display to grid */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* set grid columns to auto-fit and minimum width of 300px */
  grid-gap: 2rem; /* add some gap between grid items */
  margin: 1rem;
}
.container {
  display: flex;
  flex-direction: column; /* change flex direction to column */
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.screenshot {
  width: 100%; /* change width to 100% */
  height: auto; /* change height to auto */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.screenshot img {
  max-width: 100%; /* add max-width */
  height: auto;
  object-fit: cover;
}

.project-details {
  width: 100%; /* change width to 100% */
  height: auto; /* change height to auto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}