.experience {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.companyname h1 {
  font-size: 2rem;
}

.designation h3 {
  font-size: 1.5rem;
}

.year h1 {
  font-size: 2rem;
}

.description p {
  font-size: 1.2rem;
  white-space: pre-line;
}

@media (max-width: 600px) {
  .experience {
    margin: 10px;
    padding: 10px;
  }

  .companyname h1 {
    font-size: 1.5rem;
  }

  .designation h3 {
    font-size: 1.2rem;
  }

  .year h1 {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 1rem;
  }
}
